<p>
  Dear <%= @params[:full_name] %>,
</p>
<p>
  Thank you for contacting us. This is just a confirmation e-mail to let you know we
  have received your message and someone from our staff will be in contact with you shortly.
</p>

<hr>
Message we received:

<%= render "message_information" %>